<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
		 <bindings>
       <netTcpBinding>
           <binding name="NewBinding0" maxReceivedMessageSize="6553600" />
       </netTcpBinding>
   </bindings>
   <diagnostics performanceCounters="Default" />
   <behaviors>
       <serviceBehaviors>
           <behavior name="metadataBehavior">
               <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:9999/calculatorservice/metadata" />
               <serviceDebug includeExceptionDetailInFaults="true" />
           </behavior>
       </serviceBehaviors>
   </behaviors>
        <services>
            <service behaviorConfiguration="metadataBehavior" name="Skcircle.Service.HalconOperator">
                <endpoint address="net.tcp://127.0.0.1:8100" binding="netTcpBinding"
                    bindingConfiguration="NewBinding0" contract="Skcircle.Contracts.halcon.IHalconOperator" />
            </service>
        </services>
    </system.serviceModel>
</configuration>